body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  font: 10px sans-serif;
}
html{
  background-color:#F0F4F4;
}
.column{
  max-width: 1400px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}
.index{
  display: block;
}
.iframe{
  border: solid 1px #eee;
  border-bottom: solid 1px #ccc;
}
.inputs{
  margin: 15px 15px 15px 15px;
}

.inputs select{
  border: 1px solid #d6d5d1;
  background: #ffffff;
  border-radius: 0.1875em;
  margin-top: 0.625em;
  margin-right: 0.625em;
  height: 2.5em;
  width: 200px;
  padding: 0;
  font-family: 'Avenir Next', 'Trebuchet MS', sans-serif;
  font-size: 15px;
  /* box-sizing: border-box; */
  position: relative;
  transition: all .3s ease-in-out;
}

option.option.C{
  position: relative;
  height: 2.5em;
  padding: 0 1.25em;
  width: 100%;
  box-sizing: border-box;
}
input#calendar, input#calEndDate{
  border: 1px solid #d6d5d1;
  background: #ffffff;
  width: 200px;
  border-radius: 0.1875em;
  margin-right: 0.625em;
  margin-top: 0.625em;
  height: 2.5em;
  padding: 0;
  font-family: 'Avenir Next', 'Trebuchet MS', sans-serif;
  font-size: 15px;
  /* box-sizing: border-box; */
  position: relative;
  transition: all .3s ease-in-out;
}
button.button-init{
  background: #4d91c2;
  text-align: center;
  font-family: 'Avenir Next', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.5em;
  color: #ffffff;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 200px;
  height: 3.5em;
  letter-spacing: 0.03125em;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border-radius: 0.1875em;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}